ErrorDocument 403 /page2651332.html
ErrorDocument 404 /page2651332.html

DirectoryIndex page2523546.html

RewriteEngine On

RewriteRule ^o_programme$ page2523494.html [NC]
RewriteRule ^o_programme/$ page2523494.html [NC]

RewriteRule ^klienty$ page2528936.html [NC]
RewriteRule ^klienty/$ page2528936.html [NC]

RewriteRule ^kontakty$ page2523437.html [NC]
RewriteRule ^kontakty/$ page2523437.html [NC]

